<div class="containerLogin">
  <img class="logoCompraki" src="assets/imagens/logoCompraki.png" alt="logoCompraki">
  <form class="formuLogin">
    <h2>Recuperar Senha</h2>
      <ion-label class="textos">Para recuperar sua senha, por favor informe seu e-mail abaixo:</ion-label>

    <div class="input-container">

      <ion-icon name="lock-closed"></ion-icon>

      <ion-input inputmode="email" label="Digite seu e-mail" label-placement="floating" mode="md" fill="outline"
        placeholder="Seu e-mail aqui">
      </ion-input>

    </div>
    <ion-label class="textos">Confira se o e-mail foi digitado corretamente.</ion-label>
    <ion-button class="submitButton" type="submit">CONFIRMAR</ion-button>
    <hr>

    <ion-label class="textos" [routerLink]="['/login']" routerLinkActive="router-link-active">Já possui uma conta? <span
        class="text-green">ENTRAR</span></ion-label>
  </form>
</div>