.logoCompraki {
    width: 300px;
    padding: 20px;
}

.containerLogin {
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}



.formuLogin {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #182E3C;
    width: 90%;
    min-height: 60%;
    border-radius: 20px;
    padding: 20px 35px;
    position: relative;
}

h2 {
    top: 5px;
}

.camposForm {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 10%;
    padding: 10px;
    border-radius: 10px;
    border-color: rgba(240, 248, 255, 0.596);
    border-width: 2px;

}




.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
    width: 100%;
    position: relative;

    ion-icon {
        display: flex;

        position: absolute;
        left: 15px;
    }
}

ion-input {
    --border-width: 3px;
    --highlight-border-width: 5px;
    --border-color: #ffffff52 !important;
    --highlight-color: var(--cor-principal);
    --padding-start: 50px !important;
    text-align: start;
    margin: 3px 0;
}

.text-green {
    color: var(--cor-principal);
}

ion-button {
    width: 100%;
    --border-radius: 5px !important;
}

ion-icon {
    color: var(--cor-principal);
}

hr{
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}


.submitButton{
    --background: var(--cor-principal) ;
    margin: 5px 0px;
}

.submitButtonGoogle{
    margin-top: 5px;
    display: flex ;
    opacity: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; 
    align-items: center;
    width: 100%;
    
    --background: var(--cor-secundaria);
    --color: #fefefe;
    --highlight-border-width: 5px;
    --border-style: solid;
    --border-color: #ffffff52;
    --border-radius:5px;
    --border-width: solid;

    img {
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        width: 15px;
        margin: 0 10px;
    }
}



.signInButton{
    --border-radius: 5px;
    --color: var(--cor-principal);
    --border-color: var(--cor-principal);
    --border-width: 3px;
}
