<app-admin-header titlePage="Painel de Gestão" [showMenuButton]="true" [showBackButton]="false"></app-admin-header>

<div class="admin-master-tabs">
  <div class="tabs-container">
    <button class="master-tab" [class.active]="activeTab === 'products'" (click)="activeTab = 'products'">
      <ion-icon [name]="activeTab === 'products' ? 'cube' : 'cube-outline'"></ion-icon>
      Produtos
    </button>
    <button class="master-tab" [class.active]="activeTab === 'chats'" (click)="activeTab = 'chats'">
      <ion-icon [name]="activeTab === 'chats' ? 'chatbubbles' : 'chatbubbles-outline'"></ion-icon>
      Conversas
    </button>
    <button class="master-tab" [class.active]="activeTab === 'banners'" (click)="activeTab = 'banners'">
      <ion-icon [name]="activeTab === 'banners' ? 'images' : 'images-outline'"></ion-icon>
      Banners
    </button>
  </div>
</div>

<div class="admin-tab-content">
  <app-dev-products *ngIf="activeTab === 'products'"></app-dev-products>
  <app-manage-chats *ngIf="activeTab === 'chats'"></app-manage-chats>
  <app-manage-banners *ngIf="activeTab === 'banners'"></app-manage-banners>
</div>
