<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #ffffff;">
    <app-mini-header theme="light" [useChatIcon]="true" [showBackButton]="true" [showMenuButton]="false" backUrl="/tabs/tab2"></app-mini-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- SELETOR SE NADA SELECIONADO -->
  <app-product-selector 
    *ngIf="!selectedProduct"
    [allProducts$]="allProducts$"
    (productSelected)="onProductSelect($event)">
  </app-product-selector>

  <!-- FORMULÁRIO DE EDIÇÃO SE ITEM SELECIONADO -->
  <app-edit-product-form 
    *ngIf="selectedProduct"
    [product]="selectedProduct"
    (cancel)="onCancelEdit()">
  </app-edit-product-form>
</ion-content>
