<div class="container" [class.light]="theme === 'light'">
  <div class="left-icons">
    <ion-menu-button *ngIf="showMenuButton" color="success"></ion-menu-button>
    <ion-icon name="arrow-back" *ngIf="showBackButton" (click)="goBack()"></ion-icon>
  </div>
  <img src="/assets/imagens/logoCompraki.png" alt="" class="header-logo">
  <div class="last-icons">
    <ng-container *ngIf="!useChatIcon">
      <div class="heart-icon-wrapper" [routerLink]="['/tabs/saved']">
        <ion-icon name="heart-outline"></ion-icon>
        <div class="badge-count" *ngIf="(savedService.savedCount$ | async) as count">
          {{ count }}
        </div>
      </div>
      <div class="cart-icon-wrapper" [routerLink]="['/tabs/cart']">
        <ion-icon name="cart"></ion-icon>
        <div class="badge-count" *ngIf="(cartService.cartCount$ | async) as count">
          {{ count }}
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="useChatIcon">
      <ion-icon name="chatbubble-ellipses-outline" color="success"></ion-icon>
    </ng-container>
  </div>
</div>