.container {
    height: 45px;
    background-color: var(--cor-secundaria);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    padding: 0 10px;

    font-weight: bolder;
    ion-icon:first-of-type {
        opacity: 50%;
        color: white !important;
    }


        img {
            height: 90%;
        }

    .last-icons {
        ion-icon {
            opacity: 1;
            margin: 4px;
            color: var(--cor-principal) !important;
        }
    }
}

.container.light {
    background-color: transparent !important;
    
    ion-icon:first-of-type {
        opacity: 1;
        color: var(--ion-color-medium) !important;
    }
}