<div class="container" [class.light]="theme === 'light'">
  @if(showBackButton) {
  <ion-icon name="arrow-back" [routerLink]="[backUrl]"></ion-icon>
  }
  <img src="/assets/imagens/logoCompraki.png" alt="">
  <div class="last-icons">
    <ng-container *ngIf="!useChatIcon">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-icon name="cart"></ion-icon>
    </ng-container>
    <ng-container *ngIf="useChatIcon">
      <ion-icon name="chatbubble-ellipses-outline" color="success"></ion-icon>
    </ng-container>
  </div>
</div>