<div class="section-title">Forma de Pagamento</div>
<ion-card class="checkout-card">
  <ion-radio-group [(ngModel)]="paymentMethod">
    
    <!-- Opção: Cartão de Crédito -->
    <div class="payment-option">
      <ion-radio value="credit" justify="start" class="custom-radio">
        <span>Cartão de crédito</span>
      </ion-radio>
      
      <!-- Fomulário expansível de cartão -->
      <div class="card-form" *ngIf="paymentMethod === 'credit'">
        <div class="input-group full-width">
          <div class="input-with-icon">
            <ion-icon name="card" color="success"></ion-icon>
            <input type="text" placeholder="1234 5678 9012 3456" />
          </div>
        </div>
        
        <div class="form-row">
          <div class="input-group col-name">
            <label>Nome no Cartão</label>
            <input type="text" placeholder="CAIO PEREIRA" />
          </div>
          <div class="input-group col-date">
            <label>Validade</label>
            <input type="text" placeholder="12/26" />
          </div>
          <div class="input-group col-cvv">
            <label>CVV</label>
            <input type="text" placeholder="123" />
          </div>
        </div>
      </div>
    </div>

    <!-- Opção: Pix -->
    <div class="payment-option">
      <ion-radio value="pix" justify="start" class="custom-radio">
        <div class="radio-label-with-icon">
          <ion-icon src="/assets/icon/pix.svg" color="tertiary" *ngIf="false"></ion-icon> 
          <ion-icon name="grid" color="tertiary"></ion-icon> <!-- Fallback icon for pix -->
          <span>Pix</span>
        </div>
      </ion-radio>
    </div>

    <!-- Opção: Boleto -->
    <div class="payment-option no-border">
      <ion-radio value="boleto" justify="start" class="custom-radio">
        <div class="radio-label-with-icon">
          <ion-icon name="barcode" color="success"></ion-icon>
          <span>Boleto</span>
        </div>
      </ion-radio>
    </div>

  </ion-radio-group>
</ion-card>
