<div class="section-title">Dados do Comprador</div>
<ion-card class="checkout-card" style="margin-bottom: 20px; padding-top: 10px;">
  <div class="card-form">
    <div class="input-group full-width">
      <label>Nome Completo (Conforme Identidade)</label>
      <input type="text" placeholder="Nome do Comprador" [(ngModel)]="stateService.paymentData.buyerName" />
    </div>
    <div class="form-row" style="margin-top: 10px;">
      <div class="input-group col-name" style="flex: 1.5; margin-right: 8px;">
        <label>CPF (Apenas números)</label>
        <input type="text" placeholder="00000000000" [(ngModel)]="stateService.paymentData.buyerCpf" />
      </div>
      <div class="input-group col-cvv" style="flex: 1;">
        <label>Celular</label>
        <input type="text" placeholder="11999999999" [(ngModel)]="stateService.paymentData.buyerPhone" />
      </div>
    </div>
  </div>
</ion-card>

<div class="section-title">Forma de Pagamento</div>
<ion-card class="checkout-card">
  <ion-radio-group [(ngModel)]="stateService.paymentData.method">
    
    <!-- Opção: Pix -->
    <div class="payment-option">
      <ion-radio value="PIX" justify="start" class="custom-radio">
        <div class="radio-label-with-icon">
          <ion-icon name="grid" color="tertiary"></ion-icon>
          <span>Pix</span>
        </div>
      </ion-radio>
    </div>

    <!-- Opção: Boleto -->
    <div class="payment-option disabled-option">
      <ion-radio value="BOLETO" justify="start" class="custom-radio" [disabled]="true">
        <div class="radio-label-with-icon">
          <ion-icon name="barcode" color="success"></ion-icon>
          <span>Boleto</span>
        </div>
      </ion-radio>
      <span class="soon-text">Disponível em breve</span>
    </div>

    <!-- Opção: Cartão de Crédito -->
    <div class="payment-option no-border disabled-option">
      <ion-radio value="CREDIT_CARD" justify="start" class="custom-radio" [disabled]="true">
        <div class="radio-label-with-icon">
          <ion-icon name="card" color="primary"></ion-icon>
          <span>Cartão de crédito</span>
        </div>
      </ion-radio>
      <span class="soon-text">Disponível em breve</span>
    </div>

  </ion-radio-group>
</ion-card>
